.mypy_cache
.vscode
.gitignore
docker/mysql
09 - Banco\ de\ Dados/mongodb/.ipynb_checkpoints
06 - Modulos\ e\ Pacotes/.ipynb_checkpoints
10 - Analise\ Exploratoria\ de\ dados/dataset
10 - Analise Exploratoria de dados/.ipynb_checkpoints
