.mypy_cache
.vscode
docker/mysql
09 - Banco de Dados/mongodb/.ipynb_checkpoints
11 - Mini-projetos/Comportamento de Compra de Consumidores/.ipynb_checkpoints
06 - Modulos e Pacotes/.ipynb_checkpoints
